@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>React App</title>

    <!-- Estilos generados por React -->
    <link rel="stylesheet" href="~/react/assets/index-BzzPtfJz.css" />
</head>
<body>
    <div id="root"></div>

    <!-- Script principal de React -->
    <script type="module" src="~/react/assets/index-iY1GuGmH.js">"</script>
</body>
</html>
